body {
  background-color: #0B0D17;
  color: #FFFFFF;
  font-family: 'Bellefair', serif;
  font-weight: 400;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
}

/* h1, h2, h3, h4, h5, h6 {
   color: #D0D6F9;
} */

li a {
  color: #FFFFFF;
  text-decoration: none;
  display: block;
  padding: 8px;
}

ul {
  display: inline;
  list-style-type: none;
  padding: 0;
  position: fixed;
}

li {
  float: left;
}

h1 {
  font-size: 150px;
  font-weight: 400;
}

h2 {
  font-size: 100px;
  font-weight: 400;
}

h3 {
  font-size: 56px;
  font-weight: 400;
}

h4 {
  font-size: 32px;
  font-weight: 400;
}

h5 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 28px;
  letter-spacing: 4.75px;
}

.subheading-1 {
  font-size: 28px;
}

.subheading-2 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 14px;
  letter-spacing: 2.35px;
}

nav {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 16px;
  letter-spacing: 2.7px;
  list-style-type: none;
  text-align: center;
  text-transform: uppercase;
  height: 50px;
  margin-top: 50px;
  margin-left: 60px;
}

.main-part {
  text-align: center;
  text-transform: uppercase;
  display: flex;
  /* width: 100%; */
}

.main-part-text {
  width: 50%;
}

.main-part-button {
  width: 50%;

}

.inline-text {

}
